* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: 600px;
  height: 600px;
  border: 1px solid red;
  position: relative;
}

.base {
  width: 240px;
  height: 240px;
  position: absolute;
  border: 1px solid green;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.board-home {
  width: 120px;
  height: 120px;
  position: absolute;
  border: 1px solid cyan;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.gallery.vertical {
  flex-direction: row;
}

.path {
  display: flex;
}

.gallery.vertical .path {
  flex-direction: column;
}

/* absolute portioning of board components */

.base-1 {
  top: 0;
  left: 0;
}

.base-2 {
  top: 0;
  right: 0;
}

.base-3 {
  left: 0;
  bottom: 0;
}

.base-4 {
  right: 0;
  bottom: 0;
}

.board-home {
  top: 240px;
  left: 240px;
}

.gallery-1 {
  top: 0px;
  left: 240px;
}

.gallery-2 {
  top: 240px;
  right: 0;
}

.gallery-3 {
  left: 240px;
  bottom: 0;
}

.gallery-4 {
  top: 240px;
  left: 0px;
}
