:root {
  --board-size: calc(min(100vw, 100vh) - 6vh);
  --cell-size: calc(var(--board-size) / 15);

  --base-size: calc(var(--cell-size) * 6);
  --base-inner-size: calc(var(--cell-size) * 5);
  --home-size: calc(var(--cell-size) * 3);

  --token-size: calc(0.8 * var(--cell-size));
  --token-stay-size: calc(1.2 * var(--cell-size));
  --token-stay-margin: calc(1.5 * var(--cell-size));

  --star-size: calc(1.2 * var(--token-size));
  --star-translateY: calc(-0.1 * var(--token-size));
  --arrow-size: calc(0.8 * var(--token-size));

  --color-red: rgb(204, 0, 0);
  --color-red-darker: rgb(230, 33, 28);

  --color-green: rgb(112, 216, 74);
  --color-green-darker: rgb(59, 181, 74);

  --color-yellow: rgb(251, 192, 11);
  --color-yellow-darker: rgb(216, 144, 0);

  --color-blue: rgb(0, 156, 208);
  --color-blue-darker: rgb(0, 90, 144);

  --grad-red: linear-gradient(135deg, var(--color-red) 0%, var(--color-red-darker) 100%);
  --grad-green: linear-gradient(
    225deg,
    var(--color-green) 0%,
    var(--color-green-darker) 100%
  );
  --grad-yellow: linear-gradient(
    315deg,
    var(--color-yellow) 0%,
    var(--color-yellow-darker) 100%
  );
  --grad-blue: linear-gradient(
    45deg,
    var(--color-blue) 0%,
    var(--color-blue-darker) 100%
  );
}

.red {
  --color-normal: var(--color-red);
  --color-darker: var(--color-red-darker);
  --grad: var(--grad-red);
}

.green {
  --color-normal: var(--color-green);
  --color-darker: var(--color-green-darker);
  --grad: var(--grad-green);
}

.yellow {
  --color-normal: var(--color-yellow);
  --color-darker: var(--color-yellow-darker);
  --grad: var(--grad-yellow);
}

.blue {
  --color-normal: var(--color-blue);
  --color-darker: var(--color-blue-darker);
  --grad: var(--grad-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: var(--board-size);
  height: var(--board-size);
  position: relative;
  outline: 0.5vh solid black;
}

.base {
  width: var(--base-size);
  height: var(--base-size);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25vh solid black;
  background-image: var(--grad);
}

.base-inner {
  width: var(--base-inner-size);
  height: var(--base-inner-size);
  border-radius: 50%;
  background-color: white;
}

.home {
  width: var(--home-size);
  height: var(--home-size);
  border: 0.1vh solid black;
  position: absolute;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vh solid black;
}

.cell.colored {
  background-color: var(--color-darker);
}

.yellow .cell.colored,
.blue .cell.colored {
  background-color: var(--color-normal);
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.gallery.vertical {
  flex-direction: row;
}

.path {
  display: flex;
}

.gallery.vertical .path {
  flex-direction: column;
}

.token-stay {
  width: var(--token-stay-size);
  height: var(--token-stay-size);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.25vh dashed #e0e0e0;
}

.token {
  width: var(--token-size);
  height: var(--token-size);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border: 0.1vh solid black;
  box-shadow: 0 0.1vh 0.4vh 0.1vh rgba(0, 0, 0, 0.1);
  background-color: var(--color-darker);
}

/* absolute portioning of board components */

.base {
  &.red {
    top: 0;
    left: 0;
  }

  &.green {
    top: 0;
    right: 0;
  }

  &.yellow {
    bottom: 0;
    right: 0;
  }

  &.blue {
    bottom: 0;
    left: 0;
  }
}

.home {
  top: var(--base-size);
  left: var(--base-size);
}

.gallery {
  &.green {
    top: 0px;
    left: var(--base-size);
  }

  &.yellow {
    right: 0;
    top: var(--base-size);
  }

  &.blue {
    bottom: 0;
    left: var(--base-size);
  }

  &.red {
    left: 0px;
    top: var(--base-size);
  }
}

.token-stay {
  &:nth-child(1) {
    top: var(--token-stay-margin);
    left: var(--token-stay-margin);
  }

  &:nth-child(2) {
    top: var(--token-stay-margin);
    right: var(--token-stay-margin);
  }

  &:nth-child(3) {
    bottom: var(--token-stay-margin);
    right: var(--token-stay-margin);
  }

  &:nth-child(4) {
    bottom: var(--token-stay-margin);
    left: var(--token-stay-margin);
  }
}

.star {
  font-size: var(--star-size);
  transform: translateY(var(--star-translateY));
}

.arrow {
  font-size: var(--arrow-size);
  color: var(--color-normal);
}

.green .arrow {
  transform: rotateZ(90deg);
}

.yellow .arrow {
  transform: rotateZ(180deg);
}

.blue .arrow {
  transform: rotateZ(270deg);
}

/* .token-1 {
  transform: translate(
    calc((0 + 0.1) * var(--cell-size)),
    calc((6 + 0.1) * var(--cell-size))
  );
} */
